<footer class="footer">
    <div class="container">
        <div class="logo-details">
            <a href="/" class="logo satisfy-regular">Hostels</a>
            <p>Book. Sleep. Explore. Your Adventure Starts Here!</p>
        </div>
        <div class="social">
            <ul>
                <li><h3>Our Services</h3></li>
                <li>Web Design</li>
                <li>SEO Marketing</li>
                <li>Graphic Design</li>
                <li>Web Development</li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><h3>About Us</h3></li>
                <li>Our Experts</li>
                <li>Our Company</li>
                <li>Our Value</li>
                <li>Company Hieracy</li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><h3>Our Socials</h3></li>
                <li>Facebook</li>
                <li>LinkedIn</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </div>
    </div>
</footer>
