{% extends "base.html" %} <br />
{% block title %} {{ hostel.name }} Details {% endblock %} <br ? />

{% block body %}
<header id="navbar" class="nav black">
    <nav class="main-nav container">
        <a href="/" class="logo satisfy-regular">Hostels</a>
        <ul>
            <li id="home-link">
                <a class="active" href="{{ url_for('index') }}">Home</a>
            </li>
            <li id="about-link">
                <a href="{{ url_for('about') }}">About</a>
            </li>
            <li id="contact-link">
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
        </ul>
        {% if 'username' in session %}
        <a href="{{ url_for('logout') }}" class="login">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="login">Login</a>
        {% endif %}
    </nav>
</header>
<div class="container mt-7">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert success alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <h2>{{ hostel.name }}</h2>
    <div class="row">
        <div class="col-1">
            <div class="image">
                <img src="../{{ hostel.image }}" alt="{{ hostel.name }}" />
            </div>
            <p><span>Single Rooms:</span> {{ hostel.single_rooms }}</p>
            <p><span>Double Rooms:</span> {{ hostel.double_rooms }}</p>
            <p>
                <span>Self Contained: </span> {{ "Yes" if hostel.self_contained
                else "No" }}
            </p>
            <p><span>Price:</span> Shs {{ hostel.price }}</p>
        </div>
        <div class="col-2">
            <h2>Book a Room</h2>
            <form method="POST">
                <div class="form-grp">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required />
                </div>
                <div class="form-grp">
                    <label for="contact">Contact:</label>
                    <input type="text" id="contact" name="contact" required />
                </div>

                <input class="btn" type="submit" value="Book now" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
